<ion-view title="{{ room_ctrl.title }}" ng-controller="RoomController as room_ctrl">
 	<header class="bar bar-header bar-positive">
 		<h1 class="title">Bienvenido {{ room_ctrl.title }}</h1>
 	</header>
 	
  <ion-content class="has-header padding">
  

	
	<div class="list" id="messages">
	
	  <img id="profile-image" src="img/profile.png">
          <h3 id="profile-name">{{ room_ctrl.title }}</h3>
		  
		  
	    <li class="item item-text-wrap no-border {{ isNotCurrentUser(msg.user) }}" ng-repeat="msg in room_ctrl.messages">
	    	<div class="msg">	    		
		    	<div class="details padding">	    		
					<p>
						<div class="user">Esta infromación es importante para tí</div>
						<div class="message">{{ msg.text }}</div>
					</p>
					<small>{{ humanize(msg.time) }}</small>	
		    	</div>
	    	</div>
	    </li>
	</div>	

	
	


  </ion-content>




</ion-view>