<ion-view view-title="Chats" cache-view="false">

 <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  
  <ion-content>
  

  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
  
    <ion-list>
      <ion-item class="item item-avatar"  ng-repeat="chat in chats">
       
        <img src="img/{{chat.tone}}.png">
		<h2>{{chat.account}}</h2>
		<h2>{{chat.tone}}</h2>
		<p> {{chat.message}}</p>
	
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>