<ion-view view-title="Home">


 <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  
  <ion-content class="padding">

  
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
<div class="ionic">	
        <button class="button button-fab button-fab-top-right button-assertive icon ion-android-add" ng-click="showPopup()"></button>
    </div>  

  



    <ion-list class="card">
      <ion-item class="item item-avatar item-divider"  ng-repeat="post in posts">
	  
	    <div class="item item-avatar">
		<img src="img/profile.png">
		<h2>{{post.user}}</h2>
		<p>Dog</p>
	  </div>

	  <div class="item item-body">
		<img class="full-image" src="{{post.img}}">
		<p>
		{{post.message}}
		</p>
		<p>
		  <a href="#" class="subdued">1 Like</a>
		  <a href="#" class="subdued">5 Comments</a>
		</p>
	  </div>
           
	</ion-item>
    </ion-list> 

  </ion-content>
</ion-view>
